In [1]:
import tensorflow as tf
from tensorflow import keras

import os
from os import path

import tempfile
import time

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

import pandas as pd
pd.options.mode.chained_assignment = None

import seaborn as sns

import sklearn

from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Matplotlib created a temporary config/cache directory at /tmp/matplotlib-a2sam4j6 because the default path (/home/juliuswa/installed/apache-tomcat-9.0.30/.config/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

### Set DataFrame name:

In [2]:
pca_prec = 95

df_name = f"{pca_prec}"
print(f"Name: {df_name}")

data_path = f"../../RoboDocData/"

df_path = f"{data_path}/{df_name}"

if path.exists(df_path) == False:
    os.makedirs(df_path)

Name: 95

In [3]:
mpl.rcParams['figure.figsize'] = (12, 10)
colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

In [4]:
raw_df = pd.read_csv("../db/admissions.csv")
raw_df.head()

,patient_id,hadm_id,icustay_id,hospstay_seq,total_hospstays,length_of_stay_hospital,icustay_seq,number_of_icu_stays,length_of_stay_icu,total_length_of_stay_icu,...,sodium_min,sodium_max,bun_min,bun_max,wbc_min,wbc_max,symptoms,patient_history,accident_causes,diagnoses
0,9973,100020,282580,5,8,10.61,1,1.0,1.10,1.101088,...,126.0,131.0,11.0,16.0,5.6,5.6,NaN,V1302,NaN,5990;34409;2761;5601;5849;0417;4280;59654;340;...
1,77221,100024,201668,1,1,6.33,1,1.0,1.08,1.079884,...,135.0,140.0,18.0,18.0,10.4,12.3,NaN,V4960,E8782,41401;4111;99662;5119;5180;4019;42731;45182;27401
2,9889,100068,204988,5,5,15.08,1,1.0,4.50,4.500347,...,128.0,132.0,39.0,43.0,15.0,15.1,78906,V1254;V4511;V4579;V8801;V5861,E8782,41401;5856;4111;40391;9971;4260;4592;5121;4107...
3,26885,100074,270174,1,1,2.73,1,1.0,2.79,2.787488,...,122.0,132.0,45.0,64.0,18.9,19.6,78552;79989,NaN,NaN,0389;51881;55220;5570;99592;07054;5715
4,14245,100102,236711,2,6,2.79,1,1.0,0.99,0.992882,...,134.0,136.0,27.0,29.0,9.5,11.5,7847,V4582;V4502,NaN,41401;42822;41402;4280;30029;30981;42731;40390...

## Clean null values:

In [5]:
raw_df.describe()

,patient_id,hadm_id,icustay_id,hospstay_seq,total_hospstays,length_of_stay_hospital,icustay_seq,number_of_icu_stays,length_of_stay_icu,total_length_of_stay_icu,...,inr_min,inr_max,pt_min,pt_max,sodium_min,sodium_max,bun_min,bun_max,wbc_min,wbc_max
count,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.0,48916.000000,49276.000000,48916.000000,...,43675.000000,43675.000000,43673.000000,43673.000000,48931.000000,48931.000000,48903.000000,48903.000000,48646.000000,48646.000000
mean,36830.670387,149981.859830,250083.991152,1.475627,1.951356,10.001152,1.0,1.073902,4.066593,5.389209,...,1.358426,1.647879,14.815815,16.837765,136.572357,140.137473,23.590986,28.013087,10.420413,13.649568
std,29043.766195,28915.694377,28907.221643,1.617056,2.672499,10.824429,0.0,0.305319,5.985749,11.561777,...,0.648030,1.398121,5.034032,9.430014,4.967009,4.581295,19.664591,22.627591,8.032359,11.289151
min,3.000000,100001.000000,200001.000000,1.000000,1.000000,0.000000,1.0,1.000000,0.000000,0.000347,...,0.500000,0.500000,2.390000,8.000000,1.210000,97.000000,1.000000,1.000000,0.100000,0.100000
25%,13300.500000,124911.750000,225039.750000,1.000000,1.000000,4.040000,1.0,1.000000,1.200000,1.253953,...,1.100000,1.100000,12.700000,13.200000,134.000000,138.000000,12.000000,14.000000,6.800000,8.800000
50%,26709.500000,150055.500000,250130.500000,1.000000,1.000000,6.920000,1.0,1.000000,2.120000,2.251157,...,1.200000,1.300000,13.600000,14.400000,137.000000,140.000000,17.000000,20.000000,9.300000,12.100000
75%,60230.250000,175055.500000,275154.750000,1.000000,2.000000,11.950000,1.0,1.000000,4.110000,4.911823,...,1.400000,1.600000,15.000000,16.700000,139.000000,142.000000,28.000000,33.000000,12.600000,16.400000
max,99999.000000,199999.000000,299999.000000,41.000000,41.000000,294.660000,1.0,7.000000,153.930000,568.103333,...,26.700000,48.800000,150.000000,150.000000,178.000000,182.000000,254.000000,272.000000,575.800000,846.700000

In [16]:
def get_sparse_columns(raw_df, limit):
    print(f"Under {limit * 100}% filled:")
    sparse_columns = []

    for c in raw_df.columns:
        rate = (sum(raw_df[c] == raw_df[c]) / len(raw_df))

    if rate < limit:
        print(f"\t{c}: {rate:.2f}")
        sparse_columns.append(c)

    return sparse_columns

def fill_nan_with_mean(df, column):
    df[column].fillna(df[column].mean(), inplace=True)

    return df

def clean_df(raw_df, limit=0.2):
    # copy dataframe
    df = raw_df.copy()

    # pop standard columns
    df.pop('patient_id')
    df.pop('hadm_id')
    df.pop('icustay_id')
    df.pop('hospstay_seq')
    df.pop('icustay_seq')
    df.pop('total_hospstays')
    df.pop('number_of_icu_stays')
    df.pop('length_of_stay_icu')
    df.pop('total_length_of_stay_icu')

    if(len(df) > 1):
        # pop sparse columns
        sparse_columns = get_sparse_columns(raw_df, limit)

        for c in sparse_columns:
            df.pop(c)

        # pop sparse rows
            df.dropna(thresh=12, inplace=True)

    # fill nan values
    dont_fill = ["symptoms",
                 "patient_history",
                 "accident_causes",
                 "diagnoses",
                 "length_of_stay",
                 "died_in_hospital",
                 "gender",
                 "length_of_stay_hospital",
                 "length_of_stay_icu",
                 "days_to_death"]

    for c in df.columns:
        if not c in dont_fill:
            df = fill_nan_with_mean(df, c)

    df.gender[df.gender != df.gender] = 0.5

    print()
    # clean data
    df = df.astype({"age": float,
                            "weight": float,
                            "glucose_max": float,
                            "glucose_mean": float})

    df.age[df.age > 90] = 90
    df.gender[df.gender == 'M'] = 1
    df.gender[df.gender == 'F'] = 0
    df.weight[df.weight > 300] = 300
    df.glucose_max[df.glucose_max > 1000] = 1000
    df.glucose_mean[df.glucose_mean > 1000] = 1000
    df.died_in_hospital[df.died_in_hospital == 't'] = 1
    df.died_in_hospital[df.died_in_hospital == 'f'] = 0


    # extract diseases
    symptoms_raw = df.symptoms
    df.pop('symptoms')
    diagnoses_raw = df.diagnoses
    df.pop('diagnoses')
    patient_history_raw = df.patient_history
    df.pop('patient_history')
    accident_causes_raw = df.accident_causes
    df.pop('accident_causes')

    return df, symptoms_raw, diagnoses_raw, patient_history_raw, accident_causes_raw

In [17]:
df, symptoms_raw, diagnoses_raw, patient_history_raw, accident_causes_raw = clean_df(raw_df, 0.2)

Under 20.0% filled:

In [18]:
df.head()

,length_of_stay_hospital,days_to_death,died_in_hospital,age,gender,weight,height,heartrate_mean,heartrate_min,heartrate_max,...,inr_min,inr_max,pt_min,pt_max,sodium_min,sodium_max,bun_min,bun_max,wbc_min,wbc_max
0,10.61,95.0,0,58.0,1,96.0,175.000000,62.0,49.0,80.0,...,1.358426,1.647879,14.815815,16.837765,126.0,131.0,11.0,16.0,5.6,5.6
1,6.33,NaN,0,71.0,1,91.0,175.000000,78.0,67.0,87.0,...,1.100000,1.300000,13.300000,14.500000,135.0,140.0,18.0,18.0,10.4,12.3
2,15.08,23.0,0,74.0,0,63.0,160.000000,87.0,76.0,93.0,...,1.300000,1.800000,14.800000,19.000000,128.0,132.0,39.0,43.0,15.0,15.1
3,2.73,2.0,1,55.0,0,78.0,163.000000,103.0,90.0,111.0,...,1.600000,2.400000,18.000000,24.400000,122.0,132.0,45.0,64.0,18.9,19.6
4,2.79,489.0,0,78.0,1,118.0,169.903916,66.0,52.0,79.0,...,1.200000,1.200000,13.700000,13.700000,134.0,136.0,27.0,29.0,9.5,11.5

In [19]:
df.describe()

,length_of_stay_hospital,days_to_death,age,weight,height,heartrate_mean,heartrate_min,heartrate_max,meanbp_mean,meanbp_min,...,inr_min,inr_max,pt_min,pt_max,sodium_min,sodium_max,bun_min,bun_max,wbc_min,wbc_max
count,49276.000000,21266.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.00000,...,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000,49276.000000
mean,10.001152,516.919261,63.448109,80.656745,169.903916,85.246973,70.935350,103.299760,78.045969,58.48389,...,1.358426,1.647879,14.815815,16.837765,136.572357,140.137473,23.590986,28.013087,10.420413,13.649568
std,10.824429,750.269258,17.338312,21.644168,8.797674,15.556825,14.970186,20.612661,11.282841,13.62275,...,0.610090,1.316263,4.739191,8.877702,4.949590,4.565229,19.590022,22.541786,7.980845,11.216750
min,0.000000,0.000000,14.000000,1.000000,107.000000,30.000000,0.350000,30.000000,17.000000,0.00000,...,0.500000,0.500000,2.390000,8.000000,1.210000,97.000000,1.000000,1.000000,0.100000,0.100000
25%,4.040000,18.000000,52.000000,67.000000,169.903916,74.000000,61.000000,89.000000,70.000000,51.00000,...,1.100000,1.200000,12.800000,13.300000,134.000000,138.000000,12.000000,14.000000,6.800000,8.800000
50%,6.920000,149.000000,65.000000,80.713730,169.903916,84.000000,70.000000,101.000000,77.000000,58.48389,...,1.200000,1.400000,13.900000,14.900000,137.000000,140.000000,17.000000,21.000000,9.400000,12.200000
75%,11.950000,722.750000,77.000000,89.000000,169.903916,95.000000,80.000000,116.000000,84.000000,66.00000,...,1.358426,1.647879,14.815815,16.837765,139.000000,142.000000,28.000000,33.000000,12.500000,16.300000
max,294.660000,4166.000000,90.000000,300.000000,485.000000,164.000000,141.000000,280.000000,154.000000,125.00000,...,26.700000,48.800000,150.000000,150.000000,178.000000,182.000000,254.000000,272.000000,575.800000,846.700000

## Examine the class label imbalance:

In [10]:
neg, pos = np.bincount(df['died_in_hospital'])
total = neg + pos
print(f'Examples:\n    Total: {total}\n    Positive: {pos} ({100 * pos / total:.2f}% of total)\n')

Examples:
    Total: 49244
    Positive: 5668 (11.51% of total)

## Convert diagnoses:

In [11]:
def load_diseases_data():
    symptoms = []
    history = []
    diagnoses = []

    with open('../db/symptoms_dict.csv', 'r') as f:
        for line in f:
            split = line.strip("\n").split(",")
            symptoms.append([split[0], split[1], split[2]])
            
    with open('../db/patient_history_dict.csv', 'r') as f:
        for line in f:
            split = line.strip("\n").split(",")
            history.append([split[0], split[1], split[2]])

    with open('../db/diagnoses_dict.csv', 'r') as f:
        for line in f:
            split = line.strip("\n").split(",")
            diagnoses.append([split[0], split[1], split[2]])
            
    return np.asarray(symptoms[1:]), np.asarray(history[1:]), np.asarray(diagnoses[1:])


def diseases_to_matrix(symptoms, patient_history, diagnoses, symptoms_dict, patient_history_dict, diagnoses_dict):
    Xs = np.zeros((len(diagnoses), len(symptoms_dict)))
    
    for i, ss in enumerate(symptoms):
        lst = str(ss).split(';')

        for s in lst:
            Xs[i][symptoms_dict == s] = 1

            
    Xph = np.zeros((len(diagnoses), len(patient_history_dict)))
    
    for i, phs in enumerate(patient_history):
        lst = str(phs).split(';')

        for ph in lst:
            Xph[i][patient_history_dict == ph] = 1


    Xd = np.zeros((len(diagnoses), len(diagnoses_dict)))
    
    for i, ds in enumerate(diagnoses):
        lst = str(ds).split(';')

        for d in lst:
            Xd[i][diagnoses_dict == d] = 1

    X = np.concatenate((Xs, Xph), axis=1)
    X = np.concatenate((X, Xd), axis=1)

    return X, Xs, Xph, Xd

In [12]:
print("admissions with symptoms: ", len(symptoms_raw[symptoms_raw == symptoms_raw]) / len(symptoms_raw))

admissions with symptoms:  0.5346844285598246

In [13]:
print("admissions with patient_history: ", len(patient_history_raw[patient_history_raw == patient_history_raw]) / len(patient_history_raw))

admissions with patient_history:  0.5196978312078628

In [14]:
print("admissions with diagnoses: ", len(diagnoses_raw[diagnoses_raw == diagnoses_raw]) / len(diagnoses_raw))

admissions with diagnoses:  0.9990455690033303

In [15]:
symptoms_dict, patient_history_dict, diagnoses_dict  = load_diseases_data()

print(f"symptoms: {len(symptoms_dict)}, patient_history: {len(patient_history_dict)}, diagnoses: {len(diagnoses_dict)}")

t_start = time.time()
disease_matrix, Xs, Xph, Xd = diseases_to_matrix(symptoms_raw, patient_history_raw, diagnoses_raw, symptoms_dict[:,0], patient_history_dict[:,0], diagnoses_dict[:,0])
t_end = time.time()

shape = disease_matrix.shape
ones = sum(sum(disease_matrix))

print(f"Time elapsed: {(t_end - t_start) / 60:.2f} minutes")
print(f"disease_matrix shape: {shape}")
print(f"percentage of ones: {(100 * ones / (shape[0] * shape[1])):.2f}%")

symptoms: 1141, patient_history: 470, diagnoses: 4730
Time elapsed: 0.39 minutes
disease_matrix shape: (49244, 6341)
percentage of ones: 0.18%

In [16]:
if False:
    with open(f"{data_path}/disease_matrix_raw.npy", 'wb') as f:
        np.save(f, disease_matrix)

    with open(f"{data_path}/symptoms_dict.npy", 'wb') as f:
        np.save(f, symptoms_dict)

    with open(f"{data_path}/patient_history_dict.npy", 'wb') as f:
        np.save(f, patient_history_dict)

    with open(f"{data_path}/diagnoses_dict.npy", 'wb') as f:
        np.save(f, diagnoses_dict)

### Reduce dimensionality of diagnoses with PCA:

In [17]:
from sklearn.decomposition import PCA
import pickle as pk

In [18]:
pca = PCA(n_components=(1/100) * pca_prec)

t_start = time.time()
M = pca.fit_transform(disease_matrix)
t_end = time.time()

with open(f"{df_path}/disease_matrix_{df_name}.npy", 'wb') as f:
    np.save(f, M)

pk.dump(pca, open(f"{df_path}/pca_{df_name}.pkl", 'wb')) 
# pca_reload = pk.load(open("pca.pkl",'rb')) 

print(f"Time elapsed: {(t_end - t_start) / 60:.2f} minutes")
print(M.shape)

Time elapsed: 6.24 minutes
(49244, 1438)

In [19]:
print(pca.explained_variance_ratio_)

[3.25329432e-02 3.07573516e-02 2.08237082e-02 ... 5.55375754e-05
 5.53876820e-05 5.53511199e-05]

In [20]:
with open(f"{df_path}/disease_matrix_{df_name}.npy", 'rb') as f:
    M = np.load(f)
print(M.shape)

(49244, 1438)

### Join DataFrame and diagnose matrix:

In [21]:
df_diagnoses = pd.DataFrame(M)
df = df.reset_index(drop=True)
full_df = df.join(df_diagnoses)

print(df.shape)
print(full_df.shape)
print(df.columns)

(49244, 68)
(49244, 1506)
Index(['length_of_stay_hospital', 'days_to_death', 'died_in_hospital', 'age',
       'gender', 'weight', 'height', 'heartrate_mean', 'heartrate_min',
       'heartrate_max', 'meanbp_mean', 'meanbp_min', 'meanbp_max',
       'resprate_mean', 'resprate_min', 'resprate_max', 'tempc_mean',
       'tempc_min', 'tempc_max', 'spo2_mean', 'spo2_min', 'spo2_max',
       'glucose_mean', 'glucose_min', 'glucose_max', 'received_dialysis',
       'received_ventilation', 'urineoutput', 'mingcs', 'gcsmotor',
       'gcsverbal', 'gcseyes', 'aniongap_min', 'aniongap_max', 'albumin_min',
       'albumin_max', 'bands_min', 'bands_max', 'bicarbonate_min',
       'bicarbonate_max', 'bilirubin_min', 'bilirubin_max', 'creatinine_min',
       'creatinine_max', 'chloride_min', 'chloride_max', 'hematocrit_min',
       'hematocrit_max', 'hemoglobin_min', 'hemoglobin_max', 'lactate_min',
       'lactate_max', 'platelet_min', 'platelet_max', 'potassium_min',
       'potassium_max', 'ptt_min', 'ptt_max', 'inr_min', 'inr_max', 'pt_min',
       'pt_max', 'sodium_min', 'sodium_max', 'bun_min', 'bun_max', 'wbc_min',
       'wbc_max'],
      dtype='object')

## Normalize data:

In [22]:
from sklearn import preprocessing

length_of_stay_hospital = full_df.pop("length_of_stay_hospital")
#length_of_stay_icu = full_df.pop("length_of_stay_icu")
days_to_death = full_df.pop("days_to_death")
died_in_hospital = full_df.pop("died_in_hospital")

X = full_df.values #returns a numpy array
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
normed_df = pd.DataFrame(X_scaled, columns=full_df.columns)

normed_df["length_of_stay_hospital"] = length_of_stay_hospital
#normed_df["length_of_stay_icu"] = length_of_stay_icu
normed_df["days_to_death"] = days_to_death
normed_df["died_in_hospital"] = died_in_hospital

normed_df.describe()

,age,gender,weight,height,heartrate_mean,heartrate_min,heartrate_max,meanbp_mean,meanbp_min,meanbp_max,...,1430,1431,1432,1433,1434,1435,1436,1437,length_of_stay_hospital,days_to_death
count,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,...,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,4.924400e+04,49244.000000,21255.000000
mean,1.376529e-16,-4.472997e-18,-2.249845e-16,-3.220188e-15,-1.328597e-16,-6.738353e-17,-4.198124e-16,-4.812079e-17,-1.490518e-16,1.685174e-16,...,2.416861e-18,6.204479e-18,-6.456987e-18,6.312697e-18,8.440978e-18,-6.980039e-18,-1.017246e-17,1.446509e-17,9.998587,516.879652
std,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,...,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,10.813017,750.221614
min,-2.851934e+00,-1.132970e+00,-3.679127e+00,-7.147812e+00,-3.550184e+00,-4.713578e+00,-3.554936e+00,-5.408812e+00,-4.291754e+00,-3.160847e+00,...,-1.011195e+01,-1.408372e+01,-1.212122e+01,-1.220689e+01,-1.106136e+01,-1.343276e+01,-1.118252e+01,-1.342199e+01,0.000000,0.000000
25%,-6.603668e-01,-1.132970e+00,-6.307663e-01,-3.229577e-15,-7.227333e-01,-6.634670e-01,-6.935185e-01,-7.128912e-01,-5.491942e-01,-5.716831e-01,...,-2.298431e-01,-2.208323e-01,-1.891258e-01,-1.892323e-01,-2.147595e-01,-2.002300e-01,-2.149288e-01,-2.106077e-01,4.040000,18.000000
50%,8.937975e-02,8.826360e-01,2.633700e-03,-3.229577e-15,-8.013081e-02,-6.246120e-02,-1.115352e-01,-9.267527e-02,0.000000e+00,-1.852407e-01,...,-2.339129e-02,-2.367918e-02,5.557881e-03,5.530760e-03,-7.414739e-03,-6.611173e-04,-1.369576e-02,-1.639093e-02,6.920000,149.000000
75%,7.814535e-01,8.826360e-01,3.853540e-01,-3.229577e-15,6.267319e-01,6.053230e-01,6.159440e-01,6.161429e-01,5.515586e-01,3.171345e-01,...,1.709379e-01,1.732594e-01,1.908462e-01,1.898307e-01,1.798870e-01,2.031686e-01,1.797130e-01,1.750793e-01,11.940000,723.500000
max,1.531200e+00,8.826360e-01,1.013087e+01,3.580457e+01,5.060689e+00,4.678807e+00,8.569716e+00,6.729700e+00,4.881186e+00,7.504964e+00,...,1.276112e+01,1.608548e+01,1.394031e+01,1.876977e+01,1.423887e+01,1.494526e+01,1.618489e+01,1.635604e+01,294.660000,4166.000000

In [25]:
pk.dump(scaler, open(f"{df_path}/scaler_{df_name}.pkl", 'wb'))

## Save DataFrame:

In [24]:
normed_df.to_pickle(f"{df_path}/dataframe_{df_name}.pkl")

In [ ]:
normed